<ion-header class="body">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style ="color:white">{{ folder }}</ion-title>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ng-container *ngIf="folder === 'Home'">
      <app-home></app-home>
    </ng-container>

    <ng-container *ngIf="folder === 'Profile'">
      <app-profile></app-profile>
    </ng-container>

    <ng-container *ngIf="folder === 'Scholarship Status'">
      <app-status></app-status>
    </ng-container>
    
    <ng-container *ngIf="folder === 'Scholarship Requirements'">
      <app-requirements></app-requirements>
    </ng-container>

    <ng-container *ngIf="folder === 'Submit Requirements'">
      <app-submit></app-submit>
    </ng-container>

    <ng-container *ngIf="folder === 'Notifications'">
      <app-notifications></app-notifications>
    </ng-container>

    <ng-container *ngIf="folder === 'Messages'">
      <app-messages></app-messages>
    </ng-container>

    </div>
</ion-content>


