<div class="container-4">
  <div class="container-header-4">
    <h1>Applicant Records</h1>
    <table border="2">
      <thead>
        <tr>
          <th>Name</th>
          <th>Birth Date</th>
          <th>Birth Place</th>
          <th>Street Address</th>
          <th>City</th>
          <th>Portal/Zip Code</th>
          <th>Phone Number</th>
          <th>Email</th>
          <th>GWA</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of scholars">
          <td>{{ student.firstname }} {{ student.lastname }}</td>
          <td>{{ student.birthdate }}</td>
          <td>{{ student.placeofbirth }}</td>
          <td>{{ student.streetaddress }}</td>
          <td>{{ student.city }}</td>
          <td>{{ student.portalzipcode }}</td>
          <td>{{ student.phonenumber }}</td>
          <td>{{ student.email }}</td>
          <td>{{ student.gwa }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
