.container-1 {
  border: 10px;
  background-color: transparent;
  margin-top: 520px;
  padding-top: 50px;
}

.firstname {
  display: flex;
  left: 0;
  padding: 2px;
  margin-top: 20px;
  margin-left: 30px;
  border: solid 2px;
}

ion-col {
  display: flex;
  align-items: start;
  justify-content: end;
  flex-direction: column;
}

label {
  display: flex;
  left: 0;
  margin-top: 10px;
}

ion-input {
  background-color: #fff;
  min-height: 30px !important;
  text-align: start;
}

.lastrow ion-col .cancelbtn {
  position: absolute;
  right: 0;
}

.canbtn {
  margin-top: 70px;
}

h6 {
  margin-left: 120px;
}

.line {
  margin-top: 50px;
  margin-bottom: 50px;
  border: 2px solid black;
}

.container-2 {
  margin-bottom: 50px;
}