<div class="container">
  <div class="container-header">
      <h1><strong>Submit Requirements</strong></h1>
    <div class="component">
      <p class="grade">Upload Grades:</p>
      <form action="upload-file">
        <input type="file" id="myFile" name="filename">
        <input type="reset">
      </form>
    </div>

    <div class="component">
      <p class="grade">Upload COR:</p>
      <form action="upload-file">
        <input type="file" id="myFile" name="filename">
        <input type="reset">
      </form>
    </div>

    <div class="component">
      <p class="grade">Upload School ID:</p>
      <form action="upload-file">
        <input type="file" id="myFile" name="filename">
        <input type="reset">
      </form>
    </div>

    <div class="component">
      <p class="grade">Upload Indigency:</p>
      <form action="upload-file">
        <input type="file" id="myFile" name="filename">
        <input type="reset">
      </form>
    </div>
    <br><br>
    <ion-button class="cancelbtn" color="danger">Cancel</ion-button>
    <ion-button class="submitbtn" color="success">Submit</ion-button>
  </div>
</div>